.filter__content{
    display: flex;
    justify-content: center;
    gap: 10px;
}

.content-select{
	margin-top: 15px;
	display: flex;
	flex-direction: row;
	max-width: 250px;
	position: relative;
    display: flex;
    justify-content: center;
    gap: 10px;
}
 
.content-select select{
	display: inline-block;
	width: 250px;
	cursor: pointer;
  	padding: 7px 10px;
  	height: 35px;
  	outline: 0; 
  	border: 0;
	border-radius: 0;
	background: #f0f0f0;
	color: black;
	font-size: 1.5em;
	font-family: 
	'Quicksand', sans-serif;
	border:2px solid rgba(0,0,0,0.2);
    border-radius: 12px;
    position: relative;
    transition: all 0.25s ease;
}
 
.content-select select:hover{
	background: #22a8f0;
	color: black;
}
 
 
.content-select:hover i{
	margin-top: 3px;
}

.button__filter{
	border: none;
	background: #f0f0f0;
    cursor: pointer;
	font-family: 
	'Quicksand', sans-serif;
	
}